@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');



body {
    height: 100vh;
    width: 100%;
    background-image: url("../../assets/images/PokeWallpaper2.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;}

header {
    margin: 5px 10% 15px 10%;}

.score {
    width: 100% !important;
    height: 80%; 
    background-color: #2288ee;
    padding: 12px ;
    margin: 10px 0 0 0;
    border-radius: .6rem;}

#logo img {
    width: 95%;
    padding-top: 20px;}

img {
    width: 100px;}

.board-container {
    display: flex;
    justify-content: center;}

.board-game {
    border: 1px solid #04467c;
    background: linear-gradient(to bottom, #55ccff,#2288ee);
    border-radius: 1em;
    padding: 10px ;
    /* Tutorial */
    width: 1050px;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    perspective: 1000px;}

.memory-card {
    width: 14%;
    height: 30%;
    margin: 4px 6px 2px 10px;
    position: relative;
    border: 2px solid #053053;
    border-radius: 0.8em;
    box-shadow: 3px 2px 8px 0 rgba(5, 48, 83, 0.822);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;}

/* CLICK  Effect*/
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;}

.memory-card.flip {
    transform: rotateY(180deg);}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.65em;
    backface-visibility: hidden;}

.front-face {
    transform: rotateY(180deg);}


/* --- MODAL --- */
.my-modal-title {
    padding-top: 1rem; }

#WinModal {
    justify-content: center;
    align-items: center;}

#WinModal img {
    width: 400px;
    height: 400px;}

.info-modal-background {
    background-image: url("../../assets/images/Pokeball-bg.jpg");
    background-color: #fa2727a2; }

.modal-content {
    background-color: transparent;
    border: none ; }

.background-cover-center {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

.info-title  {
    font-family: 'Acme',"Montserrat", cursive;
    font-weight: 100;
    color: #FFDE00;
    padding: 15px;
    text-align: center;}

.userInfoModalForm img {
    border: 5px solid #053053;
    border-radius: 25px;
    -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 10px rgba(0, 0, 0, 0.4);
}

.form-group label{
    font-family: 'Acme', 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5em;
} 

.form-check-input {
    margin-top: 0;
    margin-left: 0; }

    
/* --- MODAL BUTTON --- */
.btn-pokeball {
    background-color: #FFDE00;
    color: #053053;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Acme', 'Montserrat', sans-serif;
}

/* .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px; 
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
} */

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}



/* --- BREAKPOINTS ---*/
/* // Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) { 
    .board-game {
        height: auto;
    }
    .memory-card {
        
        margin: 5px 2px 6px 2px !important;
    }
    .col-9 {
        
        max-width: 95%;
        padding-left: 0;
        padding-right: 0;
    }
    .row {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 8px;
    }
} 

@media only screen and (min-width: 601px) {
    .container {
        width: auto;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) { 
    .container {
        width: auto;
    }
    .memory-card {
        width: 105px;
        height: 145px;
        margin: 3px 8px 2px 8px;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .container {
        width: auto;
    }
    .memory-card {
        width: 130px;
        height: 193px;
        margin: 4px 16px 2px 16px;
    }
    #logo img {
        max-width:510px 
    }
 }