
body {
    height: 100vh;
    width: 100%;
    background-image: url("/assets/images/PokeWallpaper2.png");
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    position: relative;
}

header {
    margin: 5px 10% 15px 10%;
    
}

.score {
    width: 100% !important;
    height: 80%;
    background-color: rgba(0, 0, 255, 0.5);
    padding: 12px ;
    margin: 10px 0 0 0;
    border-radius: .6rem;
    /* display: none; */
}

#logo img {
    width: 95%;
    padding-top: 20px;
}

img {
    width: 100px;
}

.board-game {
    border: 1px solid rgb(4, 70, 124);
    background: linear-gradient(to bottom, #5cf,#28e);
    border-radius: 1em;
    padding: 10px ;
    margin: 0 25% 0 15%;
    /* Tutorial */
    width: 1050px;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    perspective: 1000px;
}

/* .memory-card {
    width: 80px !important;
    height: 100%;
    background-color: rgb(34, 34, 54);
    padding: 20px ;
    margin: 0 50px 0 0; 
} */

.memory-card {
    width: 14%;
    height: 30%;
    margin: 4px 10px 2px 16px;
    position: relative;
    border: 2px solid rgba(5, 48, 83);
    border-radius: 0.8em;
    box-shadow: 3px 2px 8px 0 rgba(5, 48, 83, 0.822);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

/* CLICK  Effect*/
.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 0.65em;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}
